.cards{
    margin-top:8rem;
}
.card{
    width: 100%;
    background: #fff;
    display:flex;
}
.item-image img{
    margin-top: -3rem;
}
.item-content{
    padding: 2rem 6rem 0;
    font-size: 16px;
}
.item-content h2{
    font-weight: 300;
    font-size: 28px;
    color: #1c1e2f;
}
.item-link{
    color: #0288ca;
    text-decoration: none;
    line-height: 2.8rem;
}
.item-link img{
    float: left;
    margin-right: .5rem;
}
.item-excerpt{
    margin-bottom: 2.5rem;
    color: #585969;
    display: block;
}

@media only screen and (max-width: 900px){
    .item-content {
        padding: 2rem 2rem 0;
        font-size: 16px;
        flex-grow: 2;
    }
    .item-image{
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        flex:1;        
    }
}

@media only screen and (max-width: 655px){
    .card{
        display: block;
    }
    .item-image{
        margin-bottom: -45%;
    }
    .item-image img{
        width: 100%;
    }
    .item-content{
        padding: 2rem 2rem 0;
        background: #fff;
        position: relative;
    }
}