.header{
    padding-top: 2rem;
    font-weight: 400;
    background: #fff;
}
.category{
    text-decoration: none;
    color: #868797;
    margin: 0 1.5rem;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding-bottom:2rem;
}
.category:first-child{
    padding-left: 0 !important;
}
.category img{
    padding-right: 0.6rem;
}
.category.active{
    color: #0288ca;
    border-bottom: 3px solid #0288ca;
}
.category.active img{
    /* small hack so there is no need to edit svg files for color change */
    filter: invert(38%) sepia(57%) saturate(3131%) hue-rotate(176deg) brightness(91%) contrast(98%);
}
.category:hover, .category:focus {
    text-decoration: none;
    outline: none;
}
.header-title{
    font-size: 16px;
    color: #868797;
    float:right;
}
#materials-aurum{
    fill:red;
}